.login-block {
  margin: 30px auto;
  min-height: calc(100vh - 60px);
  display: flex;
  align-items: center;
}

.login-block .auth-box {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 5px;
}
.form-material .form-control {
  border-radius: 5px;
  border: 1px solid transparent;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  height: 54px;
  padding: 5px 20px;
  font-size: 18px;
}
.form-material .float-label {
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}
.form-material .form-control:focus {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}
.form-material .form-bar:after,
.form-material .form-bar:before {
  border-radius: 5px;
}

.form-material .form-control.fill ~ .float-label,
.form-material .form-material .form-control.fill ~ .float-label {
  top: 0;
  padding: 5px;
  background-color: #ffffff;
}

.btn {
  border-radius: 5px;
  font-size: 18px !important;
}

.btn-primary:not([disabled]):not(.disabled).active:focus,
.btn-primary:not([disabled]):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

.page-header-title {
  display: flex;
  align-items: center;
}

.prod-p-card i:before {
  color: #ffffff;
  position: relative;
  z-index: 2;
}

.card-blue:after,
.card-green:after,
.card-red:after,
.card-yellow:after {
  background: #db3d24;
}
table.dataTable {
  border-collapse: collapse !important;
}
table.dataTable td {
  vertical-align: middle;
}

table.dataTable.nowrap th,
table.dataTable.nowrap td {
  white-space: normal;
}

select.form-control:not([size]):not([multiple]) {
  height: calc(2rem + 2px);
}
div.dataTables_wrapper div.dataTables_length select {
  width: 60px;
  padding: 5px;
}
table.dataTable .pcoded-micon {
  font-size: 20px;
}

.dataTables_scrollBody thead tr {
  height: 0 !important;
}
.dataTables_scroll {
  margin-bottom: 20px;
}

.dataTable td div.d-flex {
  height: 20px;
  line-height: 0;
}
.dataTable td div.d-flex a {
  margin-right: 10px;
}

button {
  background: none;
  border: none;
  padding: 0;
}
button:focus {
  outline: none;
}

.col-md-2.customerdetailcard {
  text-align: center;
}

.customerdetailcard div {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  margin: 5px 0;
}

.customerdetailcard label {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 500;
  flex: 1 50%;
  max-width: 50%;
}

.btn-sm {
  font-size: 16px !important;
}

.page-header-breadcrumb {
  text-align: right;
}

.cusdetail {
  position: absolute;
  /* font-size: 25px; */
  right: 10px;
  top: 10px;
  z-index: 100;
}
.cusdetail i {
  font-size: 18px;
}

.form-control {
  height: 45px;
  font-size: 15px;
}
select.form-control:not([size]):not([multiple]) {
  height: 45px;
}
textarea.form-control {
  height: 150px;
}

.addquestions {
  /* display: none; */
}

#wizard {
  margin-top: 20px;
}

#design-wizard .steps li a {
  width: 40%;
  height: auto;
  padding: 5px;
}

.wizard > .steps > ul > li {
  width: 10%;
}

.wizard > .content {
  margin: 0;
  border: none;
}
.wizard > .content > .body {
  padding: 0;
  width: 70%;
  height: 100%;
  /* left: 50%;
    transform: translateX(-50%); */
}

.input-group-text {
  line-height: 1.7;
}

.wizard > .steps .current a:hover {
  background: #263544;
}

#design-wizard .steps li:after {
  top: 50%;
  transform: translateY(-50%);
}

.md-modal {
  max-width: 300px;
}

.md-content > div {
  padding: 15px 15px 15px;
}

.md-action a:not([href]):not([tabindex]),
.md-action a {
  color: #ffffff;
  margin: 0 5px;
  min-width: 100px;
  margin-top: 10px;
}

.covrimg {
  width: 100%;
  height: 191px;
  object-fit: cover;
}

.wizard > .steps .number {
  font-size: 16px;
}

.questiopreview {
  max-width: 400px;
  margin: 0 auto;
}

.form-control:disabled {
  opacity: 1;
}

@media only screen and (max-width: 1440px) {
  .wizard > .content > .body {
    width: 90%;
  }
  .wizard > .actions {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 1280px) {
  .wizard > .content > .body {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .col-md-2.customerdetailcard {
    text-align: left;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 575px) {
  h3 {
    font-size: 20px;
  }
  .customerdetailcard label {
    font-size: 16px;
  }
  .pcoded .pcoded-navbar .pcoded-item > li > a {
    font-size: 14px;
  }
  .pcoded .pcoded-navbar .pcoded-item > li > a > .pcoded-micon {
    width: 30px;
    height: 30px;
  }
  .header-navbar .navbar-wrapper .navbar-logo a img {
    width: 60px;
  }
}
